<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body class="body-toggle">
  <div class="wallpaper"></div>
  <div class="headline">{{headline}}</div>
  <div class="card">
    <div class="row"><div class="icon">{{item1_icon}}</div><div><div class="t">{{item1_title}}</div><div class="d">{{item1_desc}}</div></div><div class="switch"></div></div>
    <div class="row"><div class="icon">{{item2_icon}}</div><div><div class="t">{{item2_title}}</div><div class="d">{{item2_desc}}</div></div><div class="switch"></div></div>
    <div class="row"><div class="icon">{{item3_icon}}</div><div><div class="t">{{item3_title}}</div><div class="d">{{item3_desc}}</div></div><div class="switch"></div></div>
  </div>
  <div class="logo-bottom">{{logo_block}}</div>
</body>
</html>
