<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body class="cover-stack">
  <div class="wallpaper dark"></div>
  <div class="stack">
    <div class="notif">
      <div class="icon">{{notif1_icon}}</div>
      <div><div class="nt">{{notif1_title}}</div><div class="nd">{{notif1_desc}}</div></div>
      <div class="ntime">지금</div>
    </div>
    <div class="notif">
      <div class="icon">{{notif2_icon}}</div>
      <div><div class="nt">{{notif2_title}}</div><div class="nd">{{notif2_desc}}</div></div>
      <div class="ntime">지금</div>
    </div>
  </div>
  <div class="appicon">{{brand_initial}}</div>
  <div class="headline">{{headline}}</div>
  <div class="logo-bottom">{{logo_block}}</div>
</body>
</html>
