<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body class="last-dialog">
  <div class="wallpaper"></div>
  <div class="source">{{source}}</div>
  <div class="card">
    <div class="inner">
      <div class="avatar" {{avatar_style}}></div>
      <div class="headline">{{headline}}</div>
      <div class="body">{{body}}</div>
    </div>
    <div class="btns"><div>좋아요</div><div>구독</div></div>
  </div>
  <div class="logo-bottom">{{logo_block}}</div>
</body>
</html>
