<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body class="last-cta">
  <img class="logo-mark" src="../assets/tier-logo.png">
  <div class="headline">{{headline}}</div>
  <div class="body">{{body}}</div>
  <div class="pill">{{cta}}</div>
  <div class="handle">{{handle}}</div>
</body>
</html>
