<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body class="body-qa">
  <div class="qrow"><span class="bubble r">{{q}}</span></div>
  <div class="arow"><span class="bubble l">{{headline}}</span></div>
  <div class="body">{{body}}</div>
  <div class="tip">💡 {{tip}}</div>
  {{logo_block}}
</body>
</html>
