<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body class="cover-grad">
  <div class="bg" style="background-image:url('{{bg_url}}')"></div>
  <div class="frame">
    {{logo_block}}
    <div class="chips"><span class="num">{{number}}</span><span class="subchip">{{sub}}</span></div>
    <div class="headline">{{headline}}</div>
  </div>
</body>
</html>
